In [1]:
import rpy2
import rpy2.robjects as robjects
import numpy as np

In [2]:
m = robjects.r('''
library(Lock5Data)
data(CommuteAtlanta)
str(CommuteAtlanta)
time.mean = with(CommuteAtlanta, mean(Time))
time.mean
B = 1000
n = nrow(CommuteAtlanta)
boot.samples = matrix(sample(CommuteAtlanta$Time, size = B * B, replace = TRUE),B, B)
        ''')

'data.frame':

500

 obs. of

5

 variable

s

:





$

City

:
 Factor w/ 1 level "Atlanta":

1 1 1 1 1 1 1 1 1 1

 ...





$

Age

:
 int

19 55 48 45 48 43 48 41 47 39

 ...





$

Distance

:
 int

10 45 12 4 15 33 15 4 25 1

 ...





$

Time

:
 int

15 60 45 10 30 60 45 10 25 15

 ...





$

Sex

:
 Factor w/ 2 levels "F","M":

2 2 2 1 1 2 2 1 2 1

 ...

In [3]:
res = robjects.r('''
results<-vector()
for (i in 1:1000)
{
  results[i] = mean(boot.samples[,i])
}
#print(mean(results))
#print(sd(results))
result = results
''')

In [4]:
res

R object with classes: ('numeric',) mapped to:
<FloatVector - Python:0x7f07300709c8 / R:0x55d6475ca760>
[28.467000, 28.856000, 28.694000, 30.154000, ..., 29.588000, 28.765000, 30.016000, 29.004000]